aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "3.15"
aiohttp==3.13.3 ; python_version >= "3.11" and python_version < "3.15"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "3.15"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.15"
anyio==4.12.1 ; python_version >= "3.11" and python_version < "3.15"
attrs==25.4.0 ; python_version >= "3.11" and python_version < "3.15"
boto3==1.42.61 ; python_version >= "3.11" and python_version < "3.15"
botocore==1.42.61 ; python_version >= "3.11" and python_version < "3.15"
certifi==2026.2.25 ; python_version >= "3.11" and python_version < "3.15"
cffi==2.0.0 ; python_version >= "3.13" and python_version < "3.15" and platform_python_implementation == "PyPy"
charset-normalizer==3.4.5 ; python_version >= "3.11" and python_version < "3.15"
dataclasses-json==0.6.7 ; python_version >= "3.11" and python_version < "3.15"
faiss-cpu==1.7.4 ; python_version >= "3.11" and python_version < "3.15"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "3.15"
greenlet==3.3.2 ; python_version >= "3.11" and python_version < "3.15" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.15"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.15"
httpx-sse==0.4.3 ; python_version >= "3.11" and python_version < "3.15"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.15"
idna==3.11 ; python_version >= "3.11" and python_version < "3.15"
jmespath==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
jsonpatch==1.33 ; python_version >= "3.11" and python_version < "3.15"
jsonpointer==3.0.0 ; python_version >= "3.11" and python_version < "3.15"
langchain-aws==0.2.35 ; python_version >= "3.11" and python_version < "3.15"
langchain-community==0.3.21 ; python_version >= "3.13" and python_version < "3.15"
langchain-community==0.3.31 ; python_version >= "3.11" and python_version < "3.13"
langchain-core==0.3.83 ; python_version >= "3.11" and python_version < "3.15"
langchain-text-splitters==0.3.11 ; python_version >= "3.11" and python_version < "3.15"
langchain==0.3.27 ; python_version >= "3.11" and python_version < "3.15"
langsmith==0.3.45 ; python_version >= "3.13" and python_version < "3.15"
langsmith==0.7.13 ; python_version >= "3.11" and python_version < "3.13"
marshmallow==3.26.2 ; python_version >= "3.11" and python_version < "3.15"
multidict==6.7.1 ; python_version >= "3.11" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.15"
orjson==3.11.7 ; python_version >= "3.11" and python_version < "3.15" and platform_python_implementation != "PyPy"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.15"
propcache==0.4.1 ; python_version >= "3.11" and python_version < "3.15"
pycparser==3.0 ; python_version >= "3.13" and python_version < "3.15" and platform_python_implementation == "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "3.15"
pydantic-settings==2.13.1 ; python_version >= "3.11" and python_version < "3.15"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "3.15"
pypdf==6.7.5 ; python_version >= "3.11" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.15"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.15"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.11" and python_version < "3.15"
s3transfer==0.16.0 ; python_version >= "3.11" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
sqlalchemy==2.0.48 ; python_version >= "3.11" and python_version < "3.15"
tenacity==9.1.4 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.15"
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "3.15"
uuid-utils==0.14.1 ; python_version >= "3.11" and python_version < "3.15"
xxhash==3.6.0 ; python_version >= "3.11" and python_version < "3.13"
yarl==1.23.0 ; python_version >= "3.11" and python_version < "3.15"
zstandard==0.23.0 ; python_version >= "3.13" and python_version < "3.15"
zstandard==0.25.0 ; python_version >= "3.11" and python_version < "3.13"
